In [2]:
import pandas as pd
import sqlite3

In [22]:
train_df = pd.read_csv('./csiro-biomass/train.csv')

In [23]:
train_df["sample_id"].str.extract(r"(\d+)").astype(int), train_df["sample_id"]

(               0
 0     1011485656
 1     1011485656
 2     1011485656
 3     1011485656
 4     1011485656
 ...          ...
 1780   983582017
 1781   983582017
 1782   983582017
 1783   983582017
 1784   983582017

 [1785 rows x 1 columns],
 0       ID1011485656__Dry_Clover_g
 1         ID1011485656__Dry_Dead_g
 2        ID1011485656__Dry_Green_g
 3        ID1011485656__Dry_Total_g
 4              ID1011485656__GDM_g
                    ...
 1780     ID983582017__Dry_Clover_g
 1781       ID983582017__Dry_Dead_g
 1782      ID983582017__Dry_Green_g
 1783      ID983582017__Dry_Total_g
 1784            ID983582017__GDM_g
 Name: sample_id, Length: 1785, dtype: object)

In [24]:
train_df["sample_id"] = train_df["sample_id"].str.extract(r"(\d+)").astype(int)

In [25]:
train_df

,sample_id,image_path,Sampling_Date,State,Species,Pre_GSHH_NDVI,Height_Ave_cm,target_name,target
0,1011485656,train/ID1011485656.jpg,2015/9/4,Tas,Ryegrass_Clover,0.62,4.6667,Dry_Clover_g,0.0000
1,1011485656,train/ID1011485656.jpg,2015/9/4,Tas,Ryegrass_Clover,0.62,4.6667,Dry_Dead_g,31.9984
2,1011485656,train/ID1011485656.jpg,2015/9/4,Tas,Ryegrass_Clover,0.62,4.6667,Dry_Green_g,16.2751
3,1011485656,train/ID1011485656.jpg,2015/9/4,Tas,Ryegrass_Clover,0.62,4.6667,Dry_Total_g,48.2735
4,1011485656,train/ID1011485656.jpg,2015/9/4,Tas,Ryegrass_Clover,0.62,4.6667,GDM_g,16.2750
...,...,...,...,...,...,...,...,...,...
1780,983582017,train/ID983582017.jpg,2015/9/1,WA,Ryegrass,0.64,9.0000,Dry_Clover_g,0.0000
1781,983582017,train/ID983582017.jpg,2015/9/1,WA,Ryegrass,0.64,9.0000,Dry_Dead_g,0.0000
1782,983582017,train/ID983582017.jpg,2015/9/1,WA,Ryegrass,0.64,9.0000,Dry_Green_g,40.9400
1783,983582017,train/ID983582017.jpg,2015/9/1,WA,Ryegrass,0.64,9.0000,Dry_Total_g,40.9400
1784,983582017,train/ID983582017.jpg,2015/9/1,WA,Ryegrass,0.64,9.0000,GDM_g,40.9400

In [26]:
# ---------- Split date ----------
train_df["Sampling_Date"] = pd.to_datetime(train_df["Sampling_Date"])

In [27]:
train_df

,sample_id,image_path,Sampling_Date,State,Species,Pre_GSHH_NDVI,Height_Ave_cm,target_name,target
0,1011485656,train/ID1011485656.jpg,2015-09-04,Tas,Ryegrass_Clover,0.62,4.6667,Dry_Clover_g,0.0000
1,1011485656,train/ID1011485656.jpg,2015-09-04,Tas,Ryegrass_Clover,0.62,4.6667,Dry_Dead_g,31.9984
2,1011485656,train/ID1011485656.jpg,2015-09-04,Tas,Ryegrass_Clover,0.62,4.6667,Dry_Green_g,16.2751
3,1011485656,train/ID1011485656.jpg,2015-09-04,Tas,Ryegrass_Clover,0.62,4.6667,Dry_Total_g,48.2735
4,1011485656,train/ID1011485656.jpg,2015-09-04,Tas,Ryegrass_Clover,0.62,4.6667,GDM_g,16.2750
...,...,...,...,...,...,...,...,...,...
1780,983582017,train/ID983582017.jpg,2015-09-01,WA,Ryegrass,0.64,9.0000,Dry_Clover_g,0.0000
1781,983582017,train/ID983582017.jpg,2015-09-01,WA,Ryegrass,0.64,9.0000,Dry_Dead_g,0.0000
1782,983582017,train/ID983582017.jpg,2015-09-01,WA,Ryegrass,0.64,9.0000,Dry_Green_g,40.9400
1783,983582017,train/ID983582017.jpg,2015-09-01,WA,Ryegrass,0.64,9.0000,Dry_Total_g,40.9400
1784,983582017,train/ID983582017.jpg,2015-09-01,WA,Ryegrass,0.64,9.0000,GDM_g,40.9400

In [ ]:
# ---------- Create target table ----------
target_df = (
    train_df[["target_name", "target"]]
    .drop_duplicates()
    .reset_index(drop=True)
)

target_df["targetID"] = target_df.index + 1

In [21]:
target_df

       target_name   target  targetID
0     Dry_Clover_g   0.0000         1
1       Dry_Dead_g  31.9984         2
2      Dry_Green_g  16.2751         3
3      Dry_Total_g  48.2735         4
4            GDM_g  16.2750         5
...            ...      ...       ...
1558   Dry_Total_g  34.3900      1559
1559         GDM_g  34.3900      1560
1560   Dry_Green_g  40.9400      1561
1561   Dry_Total_g  40.9400      1562
1562         GDM_g  40.9400      1563

[1563 rows x 3 columns]